@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

header{
	
width: 100%;
background-color: gray;	
}
.header{

margin: 10px;

color: white
}
.calendar{
display: inline-block;
background-color: gray;
margin: 10px;
color: black;

margin: 10px; 
font-size: 10px;	
}

form {
	padding-top: 50px;
padding-bottom: 50px;
}
.footer{
width: 100%;	
background-color: gray;

display: inline-block;
padding: 10px;
color: white;
	
}


